@charset "utf-8";
/* CSS Document */

h1{
	color: purple;
	text-decoration:wavy 5px purple underline;
}
body {
	background-color:lightpink;
}
img:hover{
	border: 25px dotted purple;
	}
img {
	width 400px
	border: 15px dotted gold
	border-radius: 50%
	}
